/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~primeng/resources/primeng.css';
@import '~primeng/resources/themes/bootstrap/theme.css';

@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-v15-latin-regular.woff') format('woff');
}
